footer {
  position: relative;
  min-height: 300px;
  background-color: #fed5d5;
  //background-color: red;
  margin-top: 200px;

  svg {
    z-index: 10;
    position: absolute;
    top: -7.98vw;
    width: 100%;
    height: 8vw;
  }
}
