footer {
  position: relative;
  min-height: 300px;
  background-color: #efefef!important;
  //background-color: red;
  margin-top: 200px;

  svg {
    z-index: 10;
    position: absolute;
    top: -7.98vw;
    width: 100%;
    height: 8vw;
  }

  .partners {
    padding-bottom: 80px;


    hr {
      border-radius: 10px;
      width: 120px;
      color: #bd2130;
      background-color: #bd2130;
      //height: 1px;
      margin: 5px auto 45px;
    }

    .row {
      padding-right: 10px;
      padding-left: 10px;

      .separator {
        width: 100%;

        hr {
          width: 20%;
          margin: 0 auto;
          padding: 0;
          border-top: #cbcbcb solid 1px;
          border-radius: 10px;
        }
      }

    }

    .partner-6 {
      margin: 0 auto;
      display: block;
    }

    @media (max-width: 800px) {
      .partner-2 {
        max-width: 150px !important;
      }

      .partner-6 {
        max-width: 150px !important;
      }

      img {
        margin: 0 auto;
        display: block;
      }
    }

    @media (max-width: 1000px) {
      img {
        margin: 0 auto;
        display: block;
      }
    }

    h2 {
      color: rgba(0, 0, 0, 0.68);
      text-align: center;
      margin-bottom: 0;
    }


  }

  .copyright {
    font-size: .85rem;
    color: #FFF;
    padding: 8px;
    background-color: #bd2130;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    text-align: left;
  }

  @media (max-width: 800px) {
    .copyright {
      font-size: .7rem;
    }
  }

}
