
.section-geodinamica {
  padding: 0 !important;
  position: relative;

  button {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 10;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    //border-radius: 4px;
    background-color: #f8f8f8 !important;
    border-radius: 0px !important;
    color: #000000 !important;
    font-size: 1.5rem;
    padding: 3px 7px;
  }
}

#geodinamica {
  width: 100%;
}

@media (max-width: 800px) {
  .section-geodinamica {
    button {
      font-size: 1rem;
      padding: 3px 7px;
    }
  }

}


