
.section-geodinamica {
  padding: 0 !important;
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    left: calc(50% - 2rem);
    top: calc(50% - 2rem);
    opacity: 0;
    font-size: 4rem;
    color: #e2e2e2;
    z-index: 11;
  }

  &:hover svg, &:focus svg {
    opacity: 1!important;
  }

  .embed-overlays {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    background-color: #000000;
  }

  &:hover .embed-overlays, &:focus .embed-overlays {
    opacity: .5;
  }

  button {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 10;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    //border-radius: 4px;
    background-color: #f8f8f8 !important;
    border-radius: 0px !important;
    color: #000000 !important;
    font-size: 1.5rem;
    padding: 3px 7px;
  }
}

#geodinamica {
  width: 100%;
}

@media (max-width: 800px) {
  .section-geodinamica {
    button {
      font-size: 1rem;
      padding: 3px 7px;
    }
  }

}


