.home-2 {

  .cvd-map-container {
    background-color: white;
    display: block !important;
  }

  .cvd-map-container {
    max-width: 1140px;
    width: 100%;
    //padding-right: 5px;
    //padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
  }

  .twentytwenty-wrapper {
    padding-top: .5rem;
  }

  .cvd-caption {
    background-color: white;
  }

  .cvd-caption img {
    margin-left: 5px;
    margin-right: 5px;
    max-height: 244px;
    float: left;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .home-2 {

    .cvd-caption {
      display: flex !important;
      justify-content: space-between !important;
      flex-wrap: wrap !important;
    }

    .cvd-caption img {
      display: inline-block;
    }

  }

}

@media (max-width: 576px) {
    .home-2 {
      .cvd-caption img {
        //margin-left: auto;
        //margin-right: auto;
      }
    }
}
