header {
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vw;
  }
}

header.masthead {
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    padding-top: calc(2rem + 72px);
    padding-bottom: 14rem;
    background-image: url("/img/bg-covid-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  header.masthead .masthead-content {
    z-index: 1;
    position: relative;
  }

  header.masthead .masthead-content .masthead-topheading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff !important;
    margin-bottom: .5rem !important;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }

  @media (min-width: 992px) {
    header.masthead {
      padding-top: calc(6.5rem + 55px);
      padding-bottom: 15rem;
    }
    header.masthead .masthead-content .masthead-topheading {
      font-size: 1.6rem;
    }
    header.masthead .masthead-content .masthead-heading {
      font-size: 4.5rem;
    }
    header.masthead .masthead-content .masthead-subheading {
      font-size: 3rem;
    }
  }

.header {

  .cvd-cards {
    //padding: 10px;
    //padding-bottom: 15px;
    //margin-bottom: 15px;
  }

  .cvd-card {
    //margin: 10px 5px;
  }

  .cvd-card:first-child {
    //margin-left: 5px;
  }

  h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
  }

  .slick-list {
    //padding-bottom: 10px;
  }
  .slick-dots {
    bottom: -28px;
    li {
      button:before {
        color: #9c020d;
        font-size: 12px;
      }

      &.slick-active {
        button:before {
          color: #9c020d;
        }
      }
    }
  }

  .cvd-card {
    width: 300px;
    //min-width: 300px;
    //max-width: 300px;
    padding-right: 5px;
    padding-left: 5px;
  }

  @media (min-width: 768px) {
    .cvd-card {
      //width: 255px;
      //max-width: 255px;
      //padding-right: 15px;
      //padding-left: 15px;
    }
  }

  .slick-slider, .slick-list, .slick-track, .col-lg-3 {
    &:focus {outline:0;}
  }

  .slick-arrow {
    //color: red;
    z-index: 10;
    //background-color: red;

    &:before {
      color: #9c020d;
      z-index: 10;
      font-size: 40px;
      opacity: .85;
    }

    &.slick-prev {
      left: -15px;
    }

    &.slick-next {
      //position: relative;
      //right: 40px;
      //right: -5px;
      //right: 25px;
      right: 25px;
    }

  }

  .card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  }

  .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
  }

  @media (min-width: 768px) {
    .card-block {
      min-height: 185px;
    }
  }

  @media (min-width: 1200px) {
    .card-block {
      min-height: 160px;
    }
  }

  .card-img-top {
    display: block;
    //width: 100%;
    //height: auto;
    width: 100%;
    height: 200px;
    overflow: hidden;

    .card-img-top-img {
      width: 120%;
      height: 120%;
    }
  }

  .card-img-top-lg {
    img {
      height: 100%;
      //max-height: 100%;
      //width: 600px !important;
      //margin-left: -100%;
    }
  }

  @media (min-width: 720px) {
    .card-img-top-lg {
      img {
        height: 100%;
        max-height: 100%;
        width: 600px !important;
        margin-left: -100%;
      }
    }
  }


  .card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
  }

  .card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
  }

  .card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
  }

  .card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
  }

  .profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
  }

  .profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
  }

  .text-bold {
    font-weight: 700;
  }

  .meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
  }

  .meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
  }

  .meta a:hover {
    color: rgba(0, 0, 0, .87);
  }

  button {
    padding-left: 12px;
    padding-right: 12px;
    text-transform: capitalize;
  }

  .cvd-maps-list {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: -180px;
    overflow-x: hidden;
    padding-right: 15px;
    padding-left: 15px;
  }

  .slick-list{
    padding:0 20% 0 0;
  }

  @media (min-width: 720px) {
    .cvd-maps-list {
      padding-left: 15px;
    }
  }

}
