header {
  svg {
    position: absolute;
    bottom: -0.02vw;
    width: 100%;
    height: 8vw;
  }
}

.navbar {
  background-color: #004A79;
  -webkit-box-shadow: 0 18px 31px 12px #004A79;
  -moz-box-shadow: 0 18px 31px 12px #004A79;
  box-shadow: 0 18px 31px 12px #004A79;
  z-index: 1;

  padding-top: 0;
  padding-bottom: 0;

  .container {
    padding: 0;
  }

  .navbar-brand {
    padding-bottom: 0;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    color: #FFFFFF !important;
  }

  .navbar-nav {
    display: inline-block;

    .nav-item {
      display: inline-block;

      a {
        padding: 10px 10px !important;
      }

      svg {
        color: #FFFFFF;
      }
    }
  }


}

header.masthead {
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    padding-top: calc(1.4rem + 72px);
    padding-bottom: 14rem;
    background-color: #1a4670;
    background-image: url('https://www.irrd.org/geotemporal/img/bg-covid-blue.jpg');
    //background-image: url('/img/bg-covid-blue.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  header.masthead .masthead-content {
    z-index: 1;
    position: relative;
  }

  header.masthead .masthead-content .masthead-topheading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff !important;
    margin-bottom: .5rem !important;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }

  @media (min-width: 992px) {
    header.masthead {
      padding-top: calc(6.5rem + 55px);
      padding-bottom: 15rem;
    }
    header.masthead .masthead-content .masthead-topheading {
      font-size: 1.6rem;
    }
    header.masthead .masthead-content .masthead-heading {
      font-size: 4.5rem;
    }
    header.masthead .masthead-content .masthead-subheading {
      font-size: 3rem;
    }
  }

.header {

  .cvd-cards {
    //padding: 10px;
    //padding-bottom: 15px;
    //margin-bottom: 15px;
  }

  .cvd-card {
    //margin: 10px 5px;
  }

  .cvd-card:first-child {
    //margin-left: 5px;
  }

  h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
  }

  .slick-list {
    //padding-bottom: 10px;
  }
  .slick-dots {
    bottom: -28px;
    li {
      button:before {
        color: #0C71C3;
        font-size: 12px;
      }

      &.slick-active {
        button:before {
          color: #0C71C3;
        }
      }
    }
  }

  .cvd-card {
    width: 300px;
    //min-width: 300px;
    //max-width: 300px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .card-container {
    padding: 5px;

    .btn-disabled {
      visibility: hidden;
    }
  }

  @media (min-width: 768px) {
    .cvd-card {
      //width: 255px;
      //max-width: 255px;
      //padding-right: 15px;
      //padding-left: 15px;
    }
  }

  .slick-slider, .slick-list, .slick-track, .col-lg-3 {
    &:focus {outline:0;}
  }

  .slick-arrow {
    //color: red;
    z-index: 10;
    //background-color: red;

    &:before {
      color: #0C71C3;
      z-index: 10;
      font-size: 40px;
      opacity: .85;
    }

    &.slick-prev {
      left: -15px;
    }

    &.slick-next {
      //position: relative;
      //right: 40px;
      //right: -5px;
      //right: 25px;
      right: 25px;
    }

  }

  .card {
    font-size: .9375rem;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  }

  .card-block {
    font-size: .9375rem;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
  }

  //@media (min-width: 751px) {
  //  .card-block {
  //    min-height: 150px;
  //  }
  //}

  @media (min-width: 751px) and (max-width: 768px) {
    .card-block {
      min-height: 100px;
    }
  }

  @media (min-width: 769px) and (max-width: 1399px) {
    .card-block {
      min-height: 129px;
    }
  }

  @media (min-width: 1400px) {
    .card-block {
      min-height: 129px;
    }
  }

  .card-img-top {
    display: block;
    //width: 100%;
    //height: auto;
    width: 100%;
    height: 200px;
    overflow: hidden;

    .card-img-top-img {
      width: 120%;
      height: 120%;
    }

    .card-img-top-img[src$="thumb-3.png"] {
      width: 200% !important;
      height: 120% !important;
      margin-left: -80%;
    }

    img {
      -webkit-filter: grayscale(60%) brightness(100%) contrast(0.8);
      filter: grayscale(60%) brightness(100%) contrast(0.8);
      -webkit-transition: 200ms -webkit-filter linear;
      -moz-transition: 200ms -moz-filter linear;
      -moz-transition: 200ms filter linear;
      -ms-transition: 200ms -ms-filter linear;
      -o-transition: 200ms -o-filter linear;
      transition: 200ms filter linear, 200ms -webkit-filter linear;
    }
  }

  @media (min-width: 330px) and (max-width: 399px) {
    .card-img-top {
      width: 100% !important;
      height: 200px !important;

      .card-img-top-img[src$="thumb-5.png"] {
        width: 100% !important;
        height: 135% !important;
      }
    }
  }

  .card-container :hover img {
    -webkit-filter: none;
    filter: none;
  }

  .card-img-top-lg {
    img {
      height: 100%;
      //max-height: 100%;
      //width: 600px !important;
      //margin-left: -100%;
    }
  }

  @media (min-width: 720px) {
    .card-img-top-lg {
      img {
        height: 100%;
        max-height: 100%;
        width: 600px !important;
        margin-left: -100%;
      }
    }
  }


  .card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
  }

  .card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
  }

  .card-actions {
    text-align: left;
    font-size: 1rem;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
    .btn {
      font-weight: bold;
      margin: 4px 0;

      svg {
        margin-left: 1px;
      }
    }
  }

  .card-footer {
    text-align: left;
    font-size: 1rem;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75rem .5rem;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
  }

  @media (min-width: 1500px) {
    .card-footer{

    }
    .card-footer small {
      font-size: .75rem;
      display: inline-block;
      float: left;

      //span {
      //  display: inline;
      //}
    }
  }

  .card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
  }

  .profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
  }

  .profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
  }

  .text-bold {
    font-weight: 700;
  }

  .meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
  }

  .meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
  }

  .meta a:hover {
    color: rgba(0, 0, 0, .87);
  }

  button {
    padding-left: 12px;
    padding-right: 12px;
    text-transform: capitalize;
  }

  .cvd-maps-list {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: -180px;
    overflow-x: hidden;
    padding-right: 15px;
    padding-left: 15px;
  }

  .slick-list{
    padding:0 20% 0 0;
  }

  @media (min-width: 720px) {
    .cvd-maps-list {
      padding-left: 15px;
    }
  }

}

.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 30 {

  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 100s infinite;
    $size: random(5) + 8 + px;
    opacity: random(100)/100;
    height: $size;
    width: $size;
    animation-delay: -$i * .2s;
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    //background: hsl(random(92) + 180, 70%, 50%);
    fill: hsl(random(73) + 190, 70%, 50%);
    background-image: url('https://www.irrd.org/geotemporal/img/covid19-icon.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }


}
