// Override default variables before the import
$body-bg: #f8f9fa;
$primary: #0C71C3;
$warning: #DC7329;
$success: #62a46a;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
