name: Deployment
on:
  push:
    branches:
      - master
#on:
#  schedule:
#    - cron: "*/5 * * * *"
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: npm install
      - name: Download Images
        run: echo 'Images'
      - name: Build page
        run: npm run build:prod && cd build && zip -r www.irrd.org-temporal.build.${GITHUB_SHA::8}.zip * && ls -la
      - name: Copy build .zip to www.irrd.org/geotemporal
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST_DEVELOP }}
          username: ${{ secrets.SSH_USERNAME_DEVELOP }}
#          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY_DEVELOP }}
          source: build/www.irrd.org-temporal.build.${GITHUB_SHA::8}.zip
          target: "/var/www/html/covid19"
      - name: Deploy
        run: echo 'Deploy'
