name: Deployment

on:
  push:
    branches:
      - master
#on:
#  schedule:
#    - cron: "*/5 * * * *"
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: npm install
      - name: Download Images
        run: echo 'Images'
      - name: Build page
        run: npm run build:prod && cd build && zip -r www.irrd.org-temporal.build.${GITHUB_SHA::8}.zip * && mv www.irrd.org-temporal.build.${GITHUB_SHA::8}.zip ..
      - name: Copy build .zip to irrd geotemporal
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          source: www.irrd.org-temporal.build.${GITHUB_SHA::8}.zip
          target: "/home/irrd/deploys"
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: unzip /home/irrd/deploys/www.irrd.org-temporal.build.${GITHUB_SHA::8}.zip -d /home/irrd/irrd.org/geotemporal
